.container {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s linear;
}

.container:hover {
    box-shadow: 1px 1px 10px #696969;
}

.container img {
    width: 96%;
    height: 180px;
    padding: 8px;
    margin: 0 auto;
}

.container h3 {
    color: #1d1c1c;
    font-size: 0.9rem;
    height: 32px;
    padding: 10px;
}

.container p {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #1d1c1c;
}

.container button {
    background: #1d1c1c;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 10px 20px 10px;
}