.container {
    width: 100vw;
    height: calc(100vh - 68px);
    background: #ffffff;
    margin-top: 50px;
}

.container > img {
    width: 100%;
    padding: 24px;
    height: calc(58vh - 32px);
    background: #ffffff;
}

.category {
    width: 100vw;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category > div {
    height: calc(17vh - 32px);
    width: 87px;
    background: #ebeaef;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category img {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.category p {
    font-size: 0.7rem;
    font-weight: bold;
    color: #828282;
    text-align: center;
    padding: 5px 10px 10px 10px;
}

.detailsInformation {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ebeaef;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 24px;
    height: calc(25vh - 32px);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    font-size: 0.9rem;
    color:#1c1b1b
}

.title img {
    width: 20px;
    height: 20px; 
    text-align: end;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 0.7rem;
    color: #5a5a5a;
    height: 30%;
}

.description p {
    width: 75%;
}

.description span {
    width: 25%;
    text-align: end;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price p {
    font-weight: bold;
    font-size: 1rem;
    color: #1d1b1b;
}

.price div {
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ebeaef;
    padding: 10px 0;
    width: 103px;
    height: 40px;
}

.price div > button {
    border: none;
    outline: none;
    background: #ebeaef;
    padding: 0 15px;
    color: #5c5c5c;
    cursor: pointer;
    font-weight: bold;
}

.price div span {
    border: none;
    outline: none;
    background: #ebeaef;
    color: #5c5c5c;
    font-weight: bold;
}

.price img {
    height: 15px;
    width: 10px;
}

.price a {
    text-decoration: none;
    background: #1d1c1c;
    color: #ffffff;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #828282;
    transition: all 0.3s linear;
}

.price a:hover {
    background: #000000;
}

@media (min-width: 481px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #a7a7a7;
        border-radius: 10px;
        margin: 98px 48px 48px;
        width: calc(100vw - 96px);
        height: calc(100vh - 146px);
        padding-right: 20px;
    }

    .detailsInformation {
        position: unset;
        border-radius: 20px;
        background-color: #ebeaef;
        padding: 24px;
        overflow: hidden;
        height: max-content;
        width: 50%;
    }

    .container > img {
        width: 50%;
        height: 60%;
    }

    .category {
        display: none;
    }

    .title, .description, .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .title h3 {
        font-size: 0.55rem;
        margin-bottom: 12px;
    }

    .description span {
        margin-top: 12px;
        font-size: 0.6rem;
        width: max-content;
    }

    .price p {
        font-size: 0.6rem;
        margin-bottom: 12px;
    }

    .price div {
        padding: 0;
        width: 70px;
        height: 25px;
    }
    
    .price div > button {
        padding: 0 12px;
        font-size: 0.5rem;
    }

    .price a {
        width: 70px;
        height: 25px;
        font-size: 0.6rem;
        padding: 7px 25px;
        margin-top: 12px;
    }

    .price div span {
        font-size: 0.6rem;
    }
}

@media (min-width: 769px) {
    .container {
        margin: 122px 72px 72px;
        width: calc(100vw - 144px);
        height: calc(100vh - 194px);
        padding-right: 20px;
    }

    .detailsInformation {
        width: 50%;
    }

    .container > img {
        width: 30%;
        height: 90%;
    }

    .category {
        display: flex;
        width: 7%;
    }

    .title, .description, .price {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px auto;
    }

    .description {
        margin-top: 20px;
    }

    .price {
        margin-top: 30px; 
    }

    .title h3 {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .description span {
        margin-top: 0px;
        font-size: 0.7rem;
        width: max-content;
    }

    .price p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .price div {
        padding: 10px 0;
        width: 100px;
        height: 30px;
    }
    
    .price div > button {
        padding: 0 18px;
        font-size: 0.7rem;
    }

    .price a {
        width: 70px;
        height: 30px;
        font-size: 0.7rem;
        padding: 8px 25px;
        margin-top: 0px;
    }

    .price div span {
        font-size: 0.7rem;
    }
}
